body {
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box1 {
  flex: 1;
  background-color: #f0f0f0;
}
.box1 .eng {
  font-weight: bold;
  font-family: Georgia, serif;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 400%;
  text-shadow: 2px 0 red, 0 2px red, 2px 0 white, 0 2px white;
}
.box1 .odia {
  width: max-content;
  font-weight: bold;
  font-family: Georgia, serif;
  position: absolute;
  text-align: center;
  top: 20%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: #21130e;
  font-size: 200%;
  text-shadow: 2px 0 white, 0 2px white, 2px 0 white, 0 2px white;
}
.box1 img {
  width: 100%;
  height: 100vh;
  display: block;
  margin: 0 auto;
}
.box1 .butn {
  padding: 1% 2%;
  font-size: 150%;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-family: Georgia, serif;
  position: absolute;
  top: 70%;
  left: 45%;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.box2 {
  flex: 1;
  background-color: #f4cccc;
  display: flex;
  flex-direction: row;
}
.box2 .part1 {
  width: 30%;
}
.box2 .part1 img {
  margin-top: 20%;
  margin-left: 20%;
  width: 90%;
}
.box2 .part2 {
  width: 30%;
}
.box2 .part2 img {
  margin-top: 40%;
  margin-left: 50%;
  margin-bottom: 20%;
  width: 60%;
}
.box2 .part3 h3 {
  margin-left: 2%;
  font-family: 200%;
}
.box2 .part3 {
  width: 40%;
  padding-left: 10%;
  padding-right: 10%;

  padding-top: 7%;
  font-size: 130%;
  font-family: Georgia, serif;
}
.box2 .part3 .butn1 {
  padding: 1% 2%;
  font-size: 50%;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-family: Georgia, serif;
  position: absolute;
  align-items: center;
  background-color: black;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.box3 {
  flex: 1;
  background-color: #f4cccc;
  display: flex;
  flex-direction: row;
}
.box3 .part1 {
  width: 20%;
  padding-top: 2%;
  padding-left: 5%;
  font-size: 130%;
  font-family: Georgia, serif;
  margin-bottom: 10%;
}
.box3 .part1 .butn1 {
  padding: 1% 2%;
  font-size: 50%;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-family: Georgia, serif;
  position: absolute;
  align-items: center;
  background-color: black;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
.box3 .part2 {
  width: 30%;
}
.box3 .part2 img {
  margin-top: 10%;
  margin-left: 15%;
  width: 70%;
  height: 70%;
}
.box3 .part2 h4 {
  text-align: center;
  font-family: Georgia, serif;
}
.box3 .part3 {
  width: 30%;
}
.box3 .part3 img {
  margin-top: 10%;
  margin-left: 15%;
  width: 70%;
  height: 70%;
}
.box3 .part3 h4 {
  text-align: center;
  font-family: Georgia, serif;
}
.box3 .part4 {
  width: 30%;
}
.box3 .part4 img {
  margin-top: 10%;
  margin-left: 15%;
  width: 70%;
  height: 70%;
}
.box3 .part4 h4 {
  text-align: center;
  font-family: Georgia, serif;
}

.box4 {
  flex: 1;
  background-color: #f4cccc;
  display: flex;
  flex-direction: row;
  padding-top: 1%;
}
.box4 .part1 {
  width: 30%;
  padding-top: 2%;
  padding-left: 5%;
  font-size: 130%;
  font-family: Georgia, serif;
  margin-bottom: 10%;
}
.box4 .part1 .butn1 {
  padding: 1% 2%;
  font-size: 50%;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-family: Georgia, serif;
  position: absolute;
  align-items: center;
  background-color: black;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
.box4 .part2 {
  width: 20%;
}
.box4 .part2 img {
  margin-top: 20%;
  margin-left: 15%;
  width: 70%;
  height: 50%;
}
.box4 .part2 h4 {
  /* border: 1px solid black; */
  text-align: right;
  margin-top: 5%;
  font-family: Georgia, serif;
}
.box4 .part3 {
  width: 20%;
}
.box4 .part3 img {
  margin-top: 20%;
  margin-left: 15%;
  width: 70%;
  height: 50%;
}
.box4 .part3 .links {
  font-weight: bold;
  margin-top: 5%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  text-align: center;
  font-family: Georgia, serif;
}
.box4 .part4 {
  width: 20%;
}
.box4 .part4 img {
  margin-top: 20%;
  margin-left: 15%;
  width: 70%;
  height: 50%;
}
.box4 .part4 h4 {
  text-align: left;
  margin-top: 6%;

  font-family: Georgia, serif;
}

.box5 {
  flex: 1;
  background-color: #f4cccc;
  display: flex;
  flex-direction: row;
}
.box5 .part1 {
  width: 50%;
}
.box5 .part1 .myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box5 .part2 {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.box5 .part2 .contact {
  margin: 15%;
}
